.task {
    background-color: rgb(0, 61, 61);
    border: 1px solid #f09b20;
    border-radius: 10px;
    padding: 16px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 18px;
    position: relative;
}

.task-circle{
    height: 22px;
    width: 22px;
    display: inline-block;
    border: 3px solid #f09b20;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    background-color: rgb(0, 61, 61);
}

.task-circle.done{
    background-color: #f09b20;
}

.task-circle:hover{
    height: 24px;
    width: 24px;
}

.task-done .task-text{
    color: #fff7;
}

.actions{
    position: absolute;
    right: 12px;
    display: flex;
    gap: 8px;
}

.edit-btn, .delete-btn{
    background: none;
    border: none;
    color: aliceblue;
    font-size: 1.8rem;
    cursor: pointer;
}

.edit-btn:hover, .delete-btn:hover{
    color: #f09b20;
    font-size: 2rem;
}