:root {
    font: 16px Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}
.board {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.row {
    display: flex;
    flex-direction: column;
    gap: 10px;
}