.square {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: rgb(190, 110, 210);
    border-radius: 15px;
    border: none;
}
.square:hover {
    background-color: rgb(160, 80, 180);
    border: 2px solid rgb(120, 50, 140);
    cursor: pointer;
}

.square-x {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: rgb(250, 126, 126);
    border-radius: 15px;
    border: none;
}

.square-o {
    width: 60px;
    height: 60px;
    font-size: 24px;
    color: white;
    background-color: rgb(155, 250, 126);
    border-radius: 15px;
    border: none;
}
