@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 90, 90);
  color: aliceblue;
  font-family: "Inter", sans-serif;
}